<link rel="stylesheet" href="/css/therapy.css">
<div class="therapyContainer">
    <div class="therapyContainer__banner">
        <div class="therapyContainer__banner__imageContainer">
            <img src="/images/therapyImg.png" alt="" class="therapyContainer__banner__imageContainer__image">
        </div>
        <div class="therapyContainer__banner__text">
            “Sometimes it takes dealing with a disability – the trauma, the relearning, the months of rehabilitation therapy – to uncover our true abilities and how we can put them to work for us in ways we may have never imagined.” -Tammy Duckworth
        </div>
    </div>
    <div class="therapyContainer__heading">Search a therapist near you</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d112155.30705574539!2d77.19135151264608!3d28.544127470224645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1stherapists%20in%20delhi%20NCR!5e0!3m2!1sen!2sin!4v1652427715199!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>