<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Sign Up</h1>
<div class="container-sign">
    <div>
        <form action="/users/create" method="POST" class="user-form">
            <input type="text" class="user-form-input" name="name" placeholder="Your Name" required>
            <input type="email" class="user-form-input" name="email" placeholder="Your Email" required>
            <input type="password" class="user-form-input" name="password" placeholder="Password" required>
            <input type="password" class="user-form-input" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" class="user-form-input" name="submit" value="Sign Up">


        </form>
        <p class="login-using-google">
            <a href="/users/auth/google" class="google-login-link">
                <img class="google-logo" src="/images/google-icon.svg"> Google Sign In/Sign Up</a>
        </p>
    </div>


    <img class="meet-plus-mssg sign-up-page-logo sign-up-page-img" src="https://i.pinimg.com/originals/52/ad/6a/52ad6a11c1dcb1692ff9e321bd520167.gif">
</div>