<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Sign In</h1>
<div class="container-sign">
    <div>
        <form action="/users/create-session" method="POST" class="user-form">
            <input type="email" class="user-form-input" name="email" placeholder="Email" required>
            <input type="password" class="user-form-input" name="password" placeholder="Password" required>
            <input type="submit" class="user-form-input" value="Sign In">
        </form>

        <p class="login-using-google">
            <a href="/users/auth/google" class="google-login-link">
                <img class="google-logo" src="/images/google-icon.svg"> Google Sign In/Sign Up</a>
        </p>
    </div>
    <img class="sign-up-page-logo" src="/images/THE SOCIAL MEDIA WEBSITE WITH SENTIMENT ANALYSIS.svg">
</div>