<link rel="stylesheet" href="/css/wellness.css">
<div class="wellnessContainer">
    <h2 class="'wellnessContainer__heading">How Do You Feel Today?</h2>
    <div class="wellnessContainer__imageWrapper">
        <div class="wellnessContainer__imageWrapper__imageContainer">

            <img id="happy" src="/images/happy.svg" alt="" class="wellnessContainer__imageWrapper__imageContainer__image">

        </div>
        <div class="wellnessContainer__imageWrapper__imageContainer">

            <img id="neutral" src="/images/neutral.svg" alt="" class="wellnessContainer__imageWrapper__imageContainer__image">

        </div>
        <div class="wellnessContainer__imageWrapper__imageContainer">

            <img id="sad" src="/images/sad.svg" alt="" class="wellnessContainer__imageWrapper__imageContainer__image">

        </div>
    </div>

    <div class="wellnessContainer__contentWrapper">
        <div id="happy_content" class="wellnessContainer__contentWrapper__content">
            <div class="wellnessContainer__contentWrapper__content__blogWrapper">
                <img src="https://www.agegracefullyamerica.com/wp-content/uploads/2022/05/Untitled-design-2022-05-12T053647.198-750x410.jpg" alt="" class="wellnessContainer__contentWrapper__content__blogWrapper__blogImage">
                <h6 class="wellnessContainer__contentWrapper__content__blogWrapper__blogheading">THE VALUE OF CULTIVATING YOUR INTUITION</h6>
                <div class="wellnessContainer__contentWrapper__content__blogWrapper__blogContent">
                    We are constantly making decisions throughout the day. Some are routine such as what to eat for breakfast, but others can be life changing like quitting a job, getting married, or investing in the stock market. We often rely on data to guide us through
                    the decision-making process. However, all too often, we simply don’t
                </div>
            </div>
            <div class="wellnessContainer__contentWrapper__content__blogWrapper">
                <img src="https://www.agegracefullyamerica.com/wp-content/uploads/2022/05/Friendship.W-750x410.jpg" alt="" class="wellnessContainer__contentWrapper__content__blogWrapper__blogImage">
                <h6 class="wellnessContainer__contentWrapper__content__blogWrapper__blogheading">THE INCREDIBLE POWER OF FRIENDSHIP
                </h6>
                <div class="wellnessContainer__contentWrapper__content__blogWrapper__blogContent">
                    Think about it. You are likely to cross paths with a vast number of people in your lifetime. Most will drift in and out with no significant consequence to you, but a lucky few will grace your life with their friendship. Good friends are hard to come by.
                    They are those rare individuals who make
                </div>
            </div>


        </div>
        <div id="neutral_content" class="wellnessContainer__contentWrapper__content">
            <div class="wellnessContainer__contentWrapper__content__blogWrapper">
                <img src="https://www.agegracefullyamerica.com/wp-content/uploads/2022/03/Untitled-design-2022-03-08T060719.577-750x410.jpg" alt="" class="wellnessContainer__contentWrapper__content__blogWrapper__blogImage">
                <h6 class="wellnessContainer__contentWrapper__content__blogWrapper__blogheading">TOP 5 FOODS TO FEED YOUR BRAIN</h6>
                <div class="wellnessContainer__contentWrapper__content__blogWrapper__blogContent">
                    Think about it: The foods you eat have a huge impact on your body, from your energy level to your heart health and beyond. Your brain is no exception, and research shows that things like the MIND (Mediterranean — Intervention for Neurodegenerative Delay)
                    diet, which focuses on specific brain-beneficial food groups, is linked with better

                </div>
            </div>
            <div class="wellnessContainer__contentWrapper__content__blogWrapper">
                <img src="https://www.agegracefullyamerica.com/wp-content/uploads/2021/10/Alone-Time.W-750x410.jpg" alt="" class="wellnessContainer__contentWrapper__content__blogWrapper__blogImage">
                <h6 class="wellnessContainer__contentWrapper__content__blogWrapper__blogheading">MAKE ROOM FOR ALONE TIME
                </h6>
                <div class="wellnessContainer__contentWrapper__content__blogWrapper__blogContent">
                    To schedule in a moment of quality alone time each day may seem daunting, if not impossible, to even consider. With all the hustle and bustle going on, how can this be a reasonable expectation? In response, not only is this reasonable, it is a MUST. Quality
                    alone time helps to reset our brain and
                </div>
            </div>
        </div>
        <div id="sad_content" class="wellnessContainer__contentWrapper__content">Sad</div>
    </div>

    <div class="wellnessContainer__showQuizBtn">
        Try A Quiz
    </div>
    <iframe src="https://victory.vbff.net/?page=sadfornoreason_quiz" frameborder="0"></iframe>
</div>

<script src="/js/wellness.js"></script>