header {
    height: 4rem;
    color: white;
    background-color: #B60000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    // position: absolute;
    width: 100vw;
    #logo-description {
        font-size: 2rem;
        padding-left: 1%;
        #logo-description-link {
            text-decoration: none;
            color: white;
            font-weight: 700;
        }
    }
    #Sign-in-out {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 14%;
        margin-right: 1%;
        li {
            margin-left: 0.5%;
            font-size: 1.3rem;
            a {
                text-decoration: none;
                color: white;
                text-decoration: none;
                font-size: 1.6rem;
            }
        }
    }
}