body {
  margin: 0;
  background-color: #F6F7FB;
  /* text-align: center; */ }
  body #noty_layout__centerRight {
    top: 14% !important; }
  body #layout-main {
    height: 83vh; }
    body #layout-main h1 {
      text-align: center; }
    body #layout-main section#feed-posts {
      display: flex;
      flex-direction: column;
      height: 100%; }
