body {
  margin: 0;
  background-color: #f1f2f5;
  max-width: 100vw;
  overflow-x: hidden;
  /* text-align: center; */ }
  body #noty_layout__centerRight {
    top: 14% !important; }
  body #layout-main {
    height: auto; }
    body #layout-main h1 {
      text-align: center; }
    body #layout-main section#feed-posts {
      display: flex;
      flex-direction: column;
      height: 100%; }
