body h1 {
  text-align: center !important;
  margin-left: 3rem;
  color: #2e81f4; }

body .container-sign {
  display: flex !important;
  /* justify-content: space-between !important; */
  overflow-x: hidden;
  flex-direction: column;
  align-items: center; }
  body .container-sign .user-form {
    display: flex;
    flex-direction: column;
    margin-left: 3rem; }
    body .container-sign .user-form .user-form-input {
      width: 100%;
      border: none;
      height: 2rem;
      border-radius: 4px;
      font-size: 1rem;
      padding-left: 0.5rem;
      margin-bottom: 1rem;
      box-shadow: 0px 3px 8px 0 #0000003d; }
    body .container-sign .user-form .user-form-submit {
      background-color: #2e81f4;
      color: white; }
  body .container-sign .login-using-google {
    width: 16rem;
    margin-left: 4rem;
    border-radius: 25px;
    padding: 0.2rem;
    padding: 0.5rem; }
    body .container-sign .login-using-google .google-login-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: black;
      overflow: hidden; }
      body .container-sign .login-using-google .google-login-link .google-logo {
        width: 13%;
        margin-right: 0.5rem; }
  body .container-sign .sign-up-page-logo {
    width: 40rem;
    box-shadow: 0px 3px 8px 0 #0000003d;
    border-radius: 4px; }
  body .container-sign .sign-up-page-img {
    width: 28rem; }
  body .container-sign marquee {
    font-size: 1.3rem;
    background-color: #2e81f4;
    color: white;
    margin-top: 4rem; }
    body .container-sign marquee > h5 {
      margin: 0; }
