body {
  background-color: #f1f2f5; }

.user-profile {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 1rem; }
  .user-profile > div {
    width: 5rem;
    height: 5rem;
    box-shadow: 0 5px 17px -7px #000000bf;
    padding: 1rem;
    background-color: white;
    border-radius: 5px; }
  .user-profile__image {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .user-profile__form {
    display: flex;
    flex-direction: column; }
    .user-profile__form__input {
      width: 16rem;
      border: none;
      padding: 0.5rem;
      margin: 0.8rem 0;
      box-shadow: 5px 5px 12px -7px #000000bf;
      font-size: 1.2rem;
      border-radius: 4px;
      cursor: pointer; }
    .user-profile__form__fileUpload {
      box-shadow: none; }
    .user-profile__form__submit {
      color: white;
      background-color: #2e81f4; }
  .user-profile__profile {
    width: 16rem;
    border: none;
    padding: 0.5rem;
    margin: 0.8rem 0;
    box-shadow: 5px 5px 12px -7px #000000bf;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: white;
    cursor: not-allowed; }
